<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Нейронка_теперь_нейронка.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Нейронка_теперь_нейронка.Properties.Settings>
            <setting name="updateInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="timeBeforeFailure" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="showThreshImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="binarizThreshold" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="showAdvSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </Нейронка_теперь_нейронка.Properties.Settings>
    </userSettings>
</configuration>
