<?xml version="1.0"?>
<SettingsFields xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <binarizThreshold>90</binarizThreshold>
  <dots>
    <ArrayOfPoint>
      <Point>
        <X>0.17538066867859048</X>
        <Y>0.39665312951027853</Y>
      </Point>
      <Point>
        <X>0.74884761705620384</X>
        <Y>1</Y>
      </Point>
      <Point>
        <X>0.52335818589801608</X>
        <Y>1</Y>
      </Point>
      <Point>
        <X>0.10856898537246078</X>
        <Y>0.453972945913498</Y>
      </Point>
    </ArrayOfPoint>
  </dots>
  <timeBeforeFailure>20</timeBeforeFailure>
  <updateInterval>5</updateInterval>
  <detectionEdge>800</detectionEdge>
</SettingsFields>